<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="functionaltests.GetPlayersTest"/>
      <!--class name="functionaltests.GetCountriesTest"/-->
      <!--class name="functionaltests.PostCountryTest"/-->
      <class name="unittests.DeleteTest"/>
      <class name="unittests.PutTest"/>
      <!--class name="unittests.GetTest"/-->
      <!--class name="unittests.PostTest"/-->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
